.mainbox {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

AnchorPane {
}

Button {
	-fx-background-color: #ffad4d;
    -fx-font-size: 14px;
}

Button:hover{
    -fx-background-color: blue;
    -fx-text-fill: white;
}

CheckBox{
    -fx-font-size: 14px;
}

CheckBox:hover {
    -fx-background-color: aqua
}

CheckBox:selected{
    -fx-background-color: #ffad4d;
}

Text {
    -fx-fill: black;
}
