.mainbox {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #e7e7e7;
}

Button{
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 0;
}

TextField{
    -fx-background-border: 0;
}

.leftSide{
    -fx-background-color: #3F2B63;
}

.leftSide Button{
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 0;
}

CheckBox{
    -fx-font-size: 14px;
}
