.toolbar Button {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.loginField {
    -fx-font-weight: bold;
}

.mainbox {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

Button {
	-fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.auth Text {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.auth Button {
	-fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
